---
import Card from "./Card.astro";

const { pic, name, role, description, link, github } = Astro.props;
---

<Card isUnderline={true}>
  <div class="p-[60px]">
    <div class="flex flex-col sm:flex-row relative">
      <picture>
        <img src={pic} alt={name} class="h-28 w-28 rounded-full border border-black object-cover shadow-[0_0_0_12px_#b9ff66]" loading="lazy" />
      </picture>
      <div class="flex flex-col justify-end sm:ml-5">
        <h3 class="text-lg font-medium">{name}</h3>
        <p class="text-sm font-normal">{role}</p>
      </div>
      <a href={link} class="absolute right-0 top-0 rounded-full bg-black px-3 py-2 text-sm font-medium text-[#b9ff66] transition hover:bg-[#b9ff66] hover:text-black" target="_blank" rel="noopener noreferrer">
        in
      </a>
    </div>
    <div class="w-full h-[1px] bg-black my-7"></div>
    <div>{description}</div>
    <div class="mt-8 flex flex-wrap gap-3">
      <a class="rounded-2xl bg-dark px-5 py-3 text-white transition hover:bg-green hover:text-dark" href={github} target="_blank" rel="noopener noreferrer">
        View developer GitHub
      </a>
      <a class="rounded-2xl border border-dark px-5 py-3 transition hover:bg-dark hover:text-white" href={link} target="_blank" rel="noopener noreferrer">
        LinkedIn profile
      </a>
    </div>
  </div>
</Card>
